@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

img {
  width: 40%;
}

@media (min-width: 200px) {
  .artist-main {
    padding: 20% 0;
    display: flex;
    flex-direction: column;
    row-gap: 8vh;
  }
  .artist-main .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .artist-main .group,
  .artist-main .concept,
  .artist-main .fashion,
  .artist-main .fandom,
  .artist-main .star {
    display: flex;
    justify-content: center;
  }
  .artist-main h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #6a39ce;
  }
  .artist-main h2 {
    color: #2d3436;
    width: 80%;
    text-transform: capitalize;
  }
  /*===================
  group
  ====================*/
  /*===================
  concept
  ====================*/
  .concept {
    padding: 15% 0;
    background-color: #feca57;
  }
  .concept aside {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    align-items: center;
  }
  .concept figure {
    border: 2px solid lightyellow;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    padding: 2vh 0;
  }
  .concept img {
    position: relative;
  }
  .concept img,
  .concept figcaption {
    width: 90%;
  }
  .concept h4 {
    position: absolute;
    background-color: white;
    width: 76%;
    text-transform: uppercase;
    text-align: center;
    padding: 2%;
  }
  /*===================
  fashion
  ====================*/
  .fashion aside {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .fashion img {
    width: 25vh;
    border-radius: 5px;
    float: left;
    margin: 3%;
  }
  /*===================
  fandom
  ====================*/
  .fandom {
    background-color: #2d3436;
    padding: 15% 0;
    color: whitesmoke;
  }
  .fandom .left {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .fandom aside {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .fandom figure,
  .fandom figcaption {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: center;
  }
  .fandom figure {
    border-radius: 5px;
    position: relative;
    padding: 2vh 0;
    box-shadow: 0 0 10px whitesmoke;
  }
  .fandom img {
    width: 90%;
    border-radius: 5px;
    border: 2px solid whitesmoke;
  }
  .fandom h5 {
    background-color: whitesmoke;
    color: #2d3436;
    position: absolute;
    padding: 4%;
    text-transform: uppercase;
    text-align: left;
  }
  .fandom figcaption {
    text-align: center;
  }
  .fandom h4 {
    text-transform: capitalize;
  }
  .fandom h2 {
    color: whitesmoke;
  }
  /*===================
  star
  ====================*/
  .star h2 {
    width: 50%;
  }
  .star .container > section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
  }
  .star aside {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10%;
  }
  .star i {
    font-size: 40px;
  }
  .star h3 {
    text-transform: capitalize;
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */