@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

//screenSize
$mobileVersion: 200px;
$tabletVersion: 600px;
$desktopVersion: 1000px;

//colors
$mainColor:#8888AA;
$secondColor:#456990;
$mainBolor:#2d3436;

//fontFamilt
$fontFamily: "Noto Sans", sans-serif;