@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

//screenSize
$mobileVersion: 300px;
$tabletVersion: 700px;
$desktopVersion: 1000px;

//colors
$smMainColor:#fd79a8;
$ygMainColor:#2d3436;
$jypMainColor:#74b9ff;

//fontFamilt
$fontFamily: "Noto Sans", sans-serif;