@media (min-width:$desktopVersion){

  //header
  header {
    ul {
        width: 50%;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    ul {
        width: 50%;
    }
  }

  .artist-main{
    h6{
      font-size: 30px;
    }
    h2{
      font-size: 48px;
    }
    p{
      font-size: 18px;
    }
    a{
      width: 15%;
    }
  }
  /*===================
  concept
  ====================*/
  .concept{
    aside{
      column-gap: 4.5vh;
    }
    figure{
      width: 22%;
      height: 47vh;
    }
  }
/*===================
 fashion
====================*/
.fashion{

  aside{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3vh;
    padding: 5% 0;
  }
  figure{
    width: 100%;
  }
  img{
    width: 40vh;
    height: 40vh;
  }
}
/*===================
 fandom
====================*/
.fandom{
  .wrap{
    flex-direction: row;
    column-gap: 3vh;
  }
  .left{
    width: 40%;
  }
  .right{
    width: 60%;
  }
}
/*===================
 footer
====================*/

footer {
  flex-direction: row;
}

}