@media (min-width:$mobileVersion){
    .headerHistory {
        li:nth-child(2){
            a {
                color: $mainBolor;
                font-size: 28px;
            }

        }
    }
    header {
        background-image: url(/img/background-curves.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
        display: flex;
        width: 100%;

        section {
            width: 100%;
            height: 100%;
            background-color: rgba(254, 202, 87, .8);
            display: flex;
            @include displayCenter;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
            height: 70%;
        }

        li {
            display: flex;
        }
        
        a {
            color: $secondColor;
            font-size: 22px;
            font-weight: 600;
        }
    }

    details {
        display:none;
    }

    nav {
        background-color: $secondColor;
        border-top:3px solid $mainBolor ;
        border-bottom:3px solid $mainBolor ;
        height: 6vh;

        ul {
            display: flex;
            width: 100%;
            height: 100%;
        }

        li {
            display: flex;
            width: 100%;
        }

        a {
            width: 100%;
            color: black;
            font-weight: 600;
            font-size: 18px;
            @include displayCenter;
        }
        
    }

    // body {
    //     background-color: gainsboro;
    // }

    main {
        padding: 8vh 0;
        @include displayColumn(5vh);
        
        section {
            @include displayColumn(5vh);
            article {
                @include displayColumn;
                align-items: center
            }

            section {
                @include displayColumn(5vh);
                align-items: center;
            }
        }

    }

    .row {
        article {
            row-gap: 1vh;
            h2 {
                font-size: 34px;
                color: $secondColor;
                font-weight: 600;
                border-bottom: 4px solid $mainColor;
            }

            p {
                font-size: 18px;
                color: $mainBolor;
                font-weight: 600;
            }
        }
    }

    figure {
        @include displayColumn(3vh);
        align-items: center;
    }

    .aboutHistory {
        
        img {
            width: 100%;
        }

        figcaption {
            width: 90%;
        }
    }

    .timeline {
        background-color: gainsboro;
        padding: 5vh 0;

        aside {
            display: flex;
            flex-direction: column-reverse;
            width: 90%;
            align-items: center;
            column-gap: 1vh;

            // &:nth-child(even){
            //     flex-direction: row-reverse;
            // }
        }

        strong{
            color: $secondColor;
            font-size: 20px;
        }

        small {
            font-size: 16px;
            color: $mainBolor;
        }

        i {
            display: none;
            font-size: 40px;
            color: $mainColor;
        }

        span {
            @include displayColumn(1vh);
            text-align: center;
        }
    }

    .news {
        
        figure {
            width: 100%;
            @include displayColumn(3vh);
            align-items: center;
            border-top: 2px solid $mainBolor;
        }

        figcaption {
            @include displayColumn(2vh);
            width: 90%;
            padding-bottom: 1vh;
        }

        img {
            width: 100%;
        }

        a {
            background: $mainColor;
            color: $secondColor;
            padding: 1vh;
            width: 15vh;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            border: 1px solid $mainBolor;
            border-radius: 50px;
        }
    }

    .events {
        > section {


        }

        img {
            width: 100%;
        }

        figure {
            width: 90%;
            background-color: gainsboro;
        }

        figcaption {
            width: 90%;
            @include displayColumn(1vh);
            padding-bottom: 1vh;
        }

        h5 {
            font-size: 18px;
            font-weight: 600;
            color: $mainBolor;
        }


        a {
            background: $secondColor;
            color: $mainColor;
            padding: 1vh;
            width: 17vh;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            border: 1px solid $mainBolor;
            border-radius: 50px;
        }

    }

    footer {
        border-top: 3px solid $mainBolor ;
        background-color: $secondColor;
        height: 20vh;
        @include displayCenter;
        flex-direction: column;
        justify-content:space-around;

        p {
            font-size: 18px;
            font-weight: 600;
            color: black;
            text-align: center;
        }

        a {
            background-color: $mainColor;
            padding: 2vh;
            color: $secondColor;
            font-size: 18px;
            font-weight: 600;
            border: 3px solid $mainBolor;
            border-radius: 50px;
        }
    }
}