@media (min-width:$desktopVersion){

  header {

    section {
        @include displayCenter;
    }

    ul {
        flex-direction: row;
        width: 60%;
        align-items: center;
        justify-content: space-between;
    }
    hr {
        height: 1vh;
        width: 1vh;
        background-color: $mainBolor;
        border-radius: 50%;
        border: none;
    }
  }

  nav {
    display: flex;
    background-color: $secondColor;
    border-top:3px solid $mainBolor ;
    border-bottom:3px solid $mainBolor ;
    height: 6vh;
    justify-content: center;

    ul {
        display: flex;
        width: 50%;
        height: 100%;
    }

    li {
        display: flex;
        width: 100%;
    }

    a {
        width: 100%;
        color: black;
        font-weight: 600;
        font-size: 18px;
        @include displayCenter;
    }
        

    a:hover {
        background-color: $mainBolor;
        color: gainsboro;
        box-shadow: 0 0 5px black;
    }

  }

  details {
    display: none;
  }

  //about
  .about{
    padding-bottom: 0;
    >section{
      flex-direction: row;
      column-gap: 2vh;
    }
    h4{
      font-size: 25px;
    }
    li{
      font-size: 20px;
    }
  }
  //artists
  .artists{
    >article{
      padding-bottom: 5%;
    }
  }

  .newsHome{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
      width: 32%;
    }

    figcaption {
      height: 8vh;
      @include displayCenter;
    }
  }

  footer {
    flex-direction: row;
    
  }

}