@media (min-width:$desktopVersion){

  //about
  .about{
    padding-bottom: 0;
    >section{
      flex-direction: row;
      column-gap: 2vh;
    }
    h4{
      font-size: 25px;
    }
    li{
      font-size: 20px;
    }
  }
  //artists
  .artists{
    >article{
      padding-bottom: 5%;
    }
  }

}