@media (min-width:$tabletVersion){

  a {
    transition: .4s;
  }
  header {
    ul {
    }

    li {
        align-items: center;
    }

    a {
        font-size: 30px;

        &:hover {
            font-size: 36px;
            color: $mainBolor;
        }
    }

    
  }

  details {
    ul {
        flex-direction: column;
    }

    a {
        font-size: 22px;
        &:hover {
            background-color: gainsboro;
            color: $mainBolor;
        }
    }
  }

  .headerHome {
      li:nth-child(1){
          a {
            font-size: 36px;
          }

    }
  }

  .home-main{
    h2{
      font-size: 45px;
    }
    p{
      font-size: 20px;
    }
  }

  //about
  .about{
    h3{
      font-size: 30px;
    }
    h4{
      font-size: 35px;
    }
    li{
      font-size: 28px;
    }
  }
  //artists
  .artists{
    p{
      font-size: 18px;
      line-height: 2;
    }
    figure{
      flex-direction: row;
      column-gap: 3vh;
    }
    figure:nth-child(odd){
      flex-direction: row-reverse;
    }
    img{
      width: 40%;
      height: 20vh;
    }
    h4{
      font-size: 24px;
    }

  }

  footer {
    p {
        font-size: 22px;
    }

    a:hover {
        background: $secondColor;
        color: ghostwhite;
        border-color: ghostwhite;
    }
  }
}

