@media (min-width:$tabletVersion){

  .home-main{
    h2{
      font-size: 45px;
    }
    p{
      font-size: 20px;
    }
  }

  //about
  .about{
    h3{
      font-size: 30px;
    }
    h4{
      font-size: 35px;
    }
    li{
      font-size: 28px;
    }
  }
  //artists
  .artists{
    p{
      font-size: 18px;
      line-height: 2;
    }
    figure{
      flex-direction: row;
      column-gap: 3vh;
    }
    figure:nth-child(odd){
      flex-direction: row-reverse;
    }
    img{
      width: 40%;
      height: 20vh;
    }
    h4{
      font-size: 24px;
    }

  }
  //

}

